@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&family=Roboto+Mono:wght@300&family=Rubik:wght@400&display=swap');


@import "variables";

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}

body {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	line-height: 1.37;
	background: $bg;
	color: $black;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Rubik", Helvetica, sans-serif;
}


.padding-down {
	padding-bottom: 1rem;
}

.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 10px;
}

a {
	color: $black;
	text-decoration: none;
	&:hover {
		color: $dark;
		text-decoration: underline;
	}
}

.flex-align-center {
	display: flex;
	align-items: center;
}
.flex-gap {
	display: flex;
	gap: 10px;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
