@import "globals";
@import "variables";


header {
	background: $blue;
}

.header-wrap {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	&:hover {
		text-decoration: none;
		color: $black;
	}
}

.search-box {
	input {
		padding: 3px 6px;
		background: $white;
		border: none;
	}

	a {
		font-size: 1.2rem;
	}
}

main {
	margin-top: 50px;
	padding: 40px;

	border-radius: 5px;
	box-shadow: 3px 5px 10px #00000018;
	background: $white;
}

.term-card {
	font-size: 1.2rem;
}