@import "globals";
@import "variables";


header {
	background: $blue;
}

.header-wrap {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	&:hover {
		text-decoration: none;
		color: $black;
	}
}

.search-box {
	input {
		padding: 3px 6px;
		background: $white;
		border: none;
	}

	a {
		font-size: 1.2rem;
	}
}
@media (max-width: 700px) {
	nav {
		display: none !important;
	}
}

main {
	margin: 50px 0;
	padding: 30px;

	border-radius: 5px;
	box-shadow: 3px 5px 10px #00000018;
	background: $white;
}

.term-card {
	font-size: 1.2rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	box-shadow: 0 5px 2px -2px #00000010;

	a {
		padding-top: 1em;
		display: block;
		width: 100%;
	}

	.categories {
		position: relative;
		top: -.25em;
	}
}

.categories :not(:last-child)::after {
	content: ","
}

.category {
	font-size: .9rem;
}