@import "globals";
@import "variables";


.cetegory,
.instance {
	color: $dark;
}

h1.term::after {
	content: " —";
}

.definition {
	padding: 1.5rem 0 0;
	p:not(:nth-child(1)) {
		padding: .75rem 0 0;
	}
} 

.instance {
	margin-top: 1.5rem;
	font-style: italic;
}

.picture {
	margin-top: 1rem;
	img {
		max-width: 80vw;
		display: block;
		margin: 0 auto;
	}
}

.vid {
	margin-top: 1rem;
	iframe {
		max-width: 80vw;
		display: block;
		margin: 0 auto;
	}	
}

.reduce-cards {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px 50px;
}

.reduce {
	background: #00000008;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.small {
	font-size: 1.2em;
}
.big {
	font-style: italic;
}